.blog-section {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 10px;
  overflow: hidden;
}

.blog-title {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 50px;
  font-family: sans-serif;
}

.blog-title span {
  color: #00a8ff;
  font-weight: 600;
}

.carousel-viewport {
  width: 100%;
  overflow: hidden;
  cursor: grab;
  position: relative;
  padding: 10px;
}

.carousel-viewport:active {
  cursor: grabbing;
}

.carousel-track {
  display: flex;
  gap: 25px;
  width: 100%;
}

.blog-card {
  flex: 0 0 370px;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #DFDFDF;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.blog-content {
  padding: 25px;
}

.blog-date {
  color: #001C3F;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.blog-header-text {
  font-size: 1.15rem;
  color: #001C3F;
  line-height: 1.4;
  margin-bottom: 20px;
  min-height: 65px;
  font-weight: 500;
}

.read-more-container {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #00a8ff;
  font-weight: 500;
}

.arrow-circle {
  width: 50px;
  height: 55px;
  border: 2px solid #00a8ff;
  border-left-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.arrow-svg {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.arrow-circle:hover .arrow-svg {
  transform: translateX(5px);
  margin-left: 5px;
}