.section {
  padding: 130px 20px;
  background-color: #fff;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
}

.header p {
  font-size: 1.3rem;
  margin-bottom: 60px;
  color: #001C3F;
  margin-top: 10px;
}

h2 {
  font-size: 3.6rem;
  font-weight: 600;
  color: #001C3F;
}

p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 40px;
  color: #001C3F;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: fit-content;
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
}

.card {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ABCAF1;
  border-radius: 10px;
  height: 314px;
  overflow: hidden;
  /* Keeps images from leaking out */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tag {
  display: inline-block;
  padding: 5px 12px;
  position: absolute;
  top: 20px;
  left: 22px;
  border: 1px solid #ABCAF1;
  color: #00a8e8;
  border-radius: 10px;
  font-size: 0.85rem;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.aiCard {
  grid-column: span 3;
  background: linear-gradient(135deg, #f0faff 0%, #ffffff 100%);
}

.ecommerceCard {
  grid-column: span 2;
  background: #f5f3ff;
}

.travelCard {
  grid-column: span 1;
}

.productivityCard {
  grid-column: span 3;
}

.fintechCard {
  grid-column: span 1;
}

.card img {
  width: 100%;
  height: inherit;
  margin-top: auto;
  object-fit: fill;
  transition: all 0.3s ease-in-out;
}

.card:hover img {
  scale: 1.1;
}

.card:hover .tag {
  color: white;
  background-color: #00a8e8;
  transition: all 0.3s ease-in-out;

}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .aiCard,
  .ecommerceCard,
  .travelCard,
  .productivityCard,
  .fintechCard {
    grid-column: span 1;
    /* Everything becomes half-width */
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    /* Stack everything */
  }
}