.mainFooter {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 40px;
  font-family: 'Segoe UI', sans-serif;
  z-index: 2;
}

/* Logic for the logo overlapping the blue section above */
.overlapWrapper {
  position: relative;
  top: -100px;
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.whiteArc {
  width: 100%;
  height: 0;
  /* object-fit: cover; */

}

.whiteArc img {
  width: 100%;
  position: relative;
  z-index: -1;
  height: 935px;
  bottom: 115px;
  background: transparent;

}

.footerLogo {
  position: absolute;
}

.footerLogo img {
  height: 120px;
}

.footerSocials {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* position: absolute; */
  margin-top: -20px;
}

.socialIcon {
  width: 48px;
  height: 48px;
  border: 3.5px solid #00a8ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00a8ff;
  font-size: 1.2rem;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background 0.3s ease;
}

/* .socialIcon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.socialIcon:hover {
  background: #00a8ff;
  color: white;
}

.socialSubtext {
  text-align: center;
  font-size: 1.2rem;
  color: #7f8c8d;
  margin: 40px 0;
}

/* 6-Column Footer Grid */
.footerGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 40px 50px;
  border-bottom: 1px solid #f1f1f1;
}

.columnTitle {
  font-size: 1rem;
  color: #001a3d;
  margin-bottom: 25px;
  font-weight: 600;
}

.columnLinks {
  list-style: none;
  padding: 0;
  text-align: left;
}

.columnLinks li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 0;
}

.columnLinks li:hover {
  color: #00a8ff;
}

.footerColumn {
  padding: 0 40px;
  /* margin: 0 40px; */
  border-right: 1px solid #f1f1f1;
}

.footerColumn:last-child {
  border-right: none;
}

/* Bottom Copyright Bar */
.footerBottomBar {
  max-width: 100%;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  font-size: 0.8rem;
  color: #95a5a6;
}

.legalLinks a {
  text-decoration: none;
  color: #95a5a6;
  margin-right: 25px;
}

.legalLinks a:hover {
  color: #00a8ff;
}

/* Responsive fix for smaller screens */
@media (max-width: 900px) {
  .footerGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}