body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans Variable", sans-serif;
    font-weight: 100;
}

.container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1000;
}

.subContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;
}

.logo {
    margin: auto 0;
}

.imgLogo {
    width: 142px;
    height: 52px;
}

.navbar {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}

.navbarList {
    display: flex;
    list-style: none;
}

li {
    /* margin: 10px; */
    padding: 0 15px;
    font-weight: 500;
    font-size: 20px;
}

.navbarButton {
    font-size: 20px;
    line-height: 24px;
    font-family: "General Sans", sans-serif;
    font-weight: 500;
    margin-left: 40px;
    padding: 18px 49px;
}