* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 208px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.10);
    color: #001C3F;
    width: 100%;
}

.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.styleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics h5 {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 0;
}

.statistics p {
    font-size: 20px;
    margin-bottom: 0;
}

.stats {
    /* padding: 37px 50px; */
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 80px;
}

.vline {
    border-right: 1px solid #F3F3F3;
    height: 60%;
}