/* @import "./assets/styles/fonts.css"; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: "General Sans", system-ui, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}