@import "tailwindcss";

@font-face {
    font-family: 'General Sans';
    src: url('./assets/fonts/GeneralSans-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-blue: #001C3F;
    --secondary-blue: #009CFB;
    --light-border-color: #DFDFDF;
    --footer-below-social-media-text: #4F6B8E;

    --font-main: 'General Sans', sans-serif;

    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
}

html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--primary-blue);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}