.section {
    display: flex;
    justify-content: center;
    background: #ffffff;
    margin: 118px 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    gap: 60px;
    padding: 0 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h2 {
    font-size: 3.5rem;
    font-weight: var(--weight-regular);
    margin-bottom: 5px;
}

.header h2 span {
    font-weight: var(--weight-semibold);
    color: var(--secondary-blue);
}

.header p {
    font-size: 1.3rem;
    text-align: center;
    color: var(--primary-blue);
    font-weight: var(--weight-regular);
    line-height: 1.5;
    width: 85%;
}

/* GRID */
.grid {
    margin: 0 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 72px;
}

/* CARD */
.card {
    display: grid;
    grid-template-rows: 80px 60px auto;
    height: 340px;
}

.card .icon {
    font-size: 40px;
    margin-bottom: 16px;
    color: var(--primary-blue);
}

.card h3 {
    font-size: 20px;
    font-weight: var(--weight-bold);
    width: 80%;
}

.card p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary-blue);
    margin-top: 90px;
}

.card img {
    width: 60px;
    height: 60px;
}

/* ===== TABLET (max-width: 992px) ===== */
@media (max-width: 992px) {
    .section {
        margin: 60px 0;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin: 0;
    }

    .header h2 {
        font-size: 2.5rem;
    }

    .header p {
        width: 95%;
        font-size: 1.1rem;
    }

    .card {
        height: auto;
    }

    .card p {
        margin-top: 20px;
    }
}

/* ===== MOBILE (max-width: 767px) ===== */
@media (max-width: 767px) {
    .section {
        margin: 40px 0;
    }

    .container {
        gap: 30px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 70px;
    }

    .header h2 {
        /* font-size: 1.8rem; */
        text-align: center;
    }

    .header p {
        width: 90%;
        font-size: 1rem;
        text-align: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .card .first {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card h3 {
        width: 100%;
        margin-top: 10px;
    }

    .card p {
        margin: auto 5%;
        font-size: 16px;
        text-align: center;
    }
}