.section {
  padding: 130px 20px;
  background-color: #fff;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
}

.header p {
  font-size: 1.3rem;
  margin-bottom: 60px;
  color: var(--primary-blue);
  margin-top: 10px;
}

h2 {
  font-size: 3.6rem;
  font-weight: var(--weight-semibold);
  color: var(--primary-blue);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: fit-content;
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
}

.card {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ABCAF1;
  border-radius: 10px;
  height: 314px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tag {
  display: inline-block;
  padding: 5px 12px;
  position: absolute;
  top: 20px;
  left: 22px;
  border: 1px solid #ABCAF1;
  color: var(--secondary-blue);
  border-radius: 10px;
  font-size: 1rem;
  width: fit-content;
  font-weight: var(--weight-medium);
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.aiCard {
  grid-column: span 3;
  background: linear-gradient(135deg, #f0faff 0%, #ffffff 100%);
}

.ecommerceCard {
  grid-column: span 2;
  background: #f5f3ff;
}

.travelCard {
  grid-column: span 1;
}

.productivityCard {
  grid-column: span 3;
}

.fintechCard {
  grid-column: span 1;
}

.card img {
  width: 100%;
  height: inherit;
  margin-top: auto;
  object-fit: fill;
  transition: all 0.3s ease-in-out;
}

.card:hover img {
  scale: 1.1;
}

.card:hover .tag {
  color: white;
  background-color: var(--secondary-blue);
  transition: all 0.3s ease-in-out;
}

/* ===== TABLET (max-width: 992px) ===== */
@media (max-width: 992px) {
  .section {
    padding: 80px 20px;
  }

  .container {
    width: 90%;
  }

  h2 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(250px, auto);
  }

  .aiCard,
  .ecommerceCard,
  .travelCard,
  .productivityCard,
  .fintechCard {
    grid-column: span 1;
  }

  .card {
    height: min-content;
  }
}

/* ===== MOBILE (max-width: 767px) ===== */
@media (max-width: 767px) {
  .section {
    padding: 50px 16px;
  }

  .container {
    width: 50%;
  }

  h2 {
    font-size: 1.8rem;
    text-align: center;
    /* Center heading */
  }

  .header p {
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: center;
    /* Center paragraph */
  }

  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(20px, auto);
  }

  .card {
    height: min-content;
  }
}