.contactBanner {
  background: var(--primary-blue) url(https://dmwebsoft.com/wp-content/uploads/2023/09/abouts-us-linear.svg) no-repeat 100% 35% / contain;
  padding: 80px 20px 140px;
  color: #ffffff;
  text-align: center;
}

.bannerHeading {
  font-size: 2.1rem;
  font-weight: var(--weight-regular);
  max-width: 850px;
  margin: 0 auto 75px;
  line-height: 1.4;
}

.connectButton {
  background-color: var(--secondary-blue);
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: var(--weight-semibold);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.connectButton:hover {
  transform: scale(1.05);
}

.contactStrip {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 90px 0;
  flex-wrap: wrap;
}

.contactPill {
  display: flex;
  align-items: center;
  gap: 15px;
}

.iconWrapper {
  background: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}

.iconWrapper img {
  width: 25px;
}

.pillText {
  text-align: left;
}

.pillLabel {
  display: block;
  font-size: 1.3rem;
  font-weight: var(--weight-semibold);
}

.pillValue {
  font-size: 1rem;
  font-weight: 450;
  color: #97bae7;
}

/* ===== TABLET (max-width: 992px) ===== */
@media (max-width: 992px) {
  .contactBanner {
    padding: 60px 20px 100px;
  }

  .bannerHeading {
    font-size: 1.7rem;
    margin-bottom: 50px;
  }

  .contactStrip {
    gap: 30px;
    margin: 60px 0;
  }

  .pillLabel {
    font-size: 1.1rem;
  }
}

/* ===== MOBILE (max-width: 767px) ===== */
@media (max-width: 767px) {
  .contactBanner {
    background: var(--primary-blue) url(https://dmwebsoft.com/wp-content/uploads/2023/09/abouts-us-linear.svg) no-repeat 100% 35% / contain;
    padding: 30px;
    /* background-size: contain;
    background-position: center; */
    text-align: center;
    /* Center everything */
  }

  .bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .iconWrapper {
    width: 3.2rem;
    height: 3.2rem;
  }

  .bannerHeading {
    font-size: 1.6rem;
    margin-bottom: 10px;
    padding: 20px 0;
  }

  .connectButton {
    /* padding: 12px 28px;
    font-size: 1rem; */
  }

  .contactStrip {
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 40px;
  }

  .innerContactStrip {}

  .contactPill {
    /* flex-direction: column; */
    /* Center pill content */
    /* text-align: center; */
    align-items: flex-start;
    margin: 20px 0;
  }

  .pillText {
    /* text-align: center; */
    /* margin-top: 10px; */
  }

  .pillLabel {
    font-size: 1.2rem;
  }

  .pillValue {
    /* font-size: 0.9rem; */
  }
}