/* FAQ.css */
.faq-section {
  max-width: 900px;
  margin: 80px auto;
  padding: 0 20px;
}

.faq-heading {
  text-align: center;
  font-size: 3.5rem;
  color: var(--primary-blue);
  margin-bottom: 60px;
  font-weight: var(--weight-regular);
}

.faq-heading span {
  color: var(--secondary-blue);
  font-weight: var(--weight-semibold);
}

.faq-container {
  display: flex;
  flex-direction: column;
}

.faq-item {
  width: 100%;
}

.faq-question-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}

.faq-question-text {
  font-size: 1.5rem;
  font-weight: var(--weight-medium);
  color: var(--secondary-blue);
  margin: 0;
}

/* Dropdown Arrow Styling */
.dropdown-arrow {
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--secondary-blue);
  border-bottom: 2px solid var(--secondary-blue);
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  margin-right: 5px;
  flex-shrink: 0;
}

.dropdown-arrow.up {
  transform: rotate(-135deg);
  margin-top: 5px;
}

/* Answer Animation Logic */
.faq-answer-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.faq-answer-container.open {
  max-height: 200px;
  padding-bottom: 20px;
}

.faq-answer-text {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--primary-blue);
  margin: 0;
  font-weight: var(--weight-regular);
}

.faq-divider {
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 0;
}

/* ===== TABLET (max-width: 992px) ===== */
@media (max-width: 992px) {
  .faq-heading {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .faq-question-text {
    font-size: 1.2rem;
  }
}

/* ===== MOBILE (max-width: 767px) ===== */
@media (max-width: 767px) {
  .faq-section {
    margin: 40px auto;
    padding: 0 30px;
  }

  .faq-heading {
    /* font-size: 1.8rem; */
    margin-bottom: 30px;
  }

  .faq-question-text {
    font-size: 1.1rem;
    padding-right: 10px;
  }

  .faq-question-row {
    padding: 14px 0;
    margin-bottom: 10px;
    gap: 40px;
  }

  .faq-answer-text {
    font-size: 0.9rem;
  }
}