.footer {
    width: 100%;
}

.container {
    width: 1200px;
    /* height: 100%; */
    margin: 0 auto;
    position: relative;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerTopImg {
    width: 100%;
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
}