.footerWrapper {
  position: relative;
  background: #ffffff;
  width: 100%;
  height: auto;
  min-height: 630px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-blue);
}

.footerContent {
  position: relative;
  top: -80px;
  padding-bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
}

.innerHandler {
  position: relative;
  top: 0;
  margin-top: -153px;
  padding-top: 97px;
  padding-bottom: 0;
  width: 100%;
  background: url("https://dmwebsoft.com/wp-content/uploads/2023/09/Union.png") no-repeat top center;
  background-size: cover;
}

.topSection {
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-bottom: 30px;
  height: 120px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
}

.social {
  width: 48px;
  height: 48px;
  border: 3.5px solid var(--secondary-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-blue);
  font-size: 1.3rem;
  transition: 0.3s;
  text-decoration: none;
}

.social:hover {
  background: var(--secondary-blue);
  color: #fff;
}

.socialText {
  margin-top: 20px;
  color: #4F6B8E;
  font-size: 1rem;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px 0;
  justify-items: start;
  align-items: stretch;
}

.column {
  padding: 0 32px;
  border-left: 1px solid #DFDFDF;
}

.column h5 {
  font-size: 1.3rem;
  margin-bottom: 22px;
  color: var(--primary-blue);
  font-weight: var(--weight-medium);
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  color: var(--primary-blue);
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: var(--weight-regular);
}

.column li:hover {
  color: var(--secondary-blue);
}

/* BOTTOM */
.bottomBar {
  position: relative;
  z-index: 2;
  display: flex;
  margin-top: auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 28px 0;
  font-size: 1rem;
  background-color: #FAFAFA;
  flex-wrap: wrap;
  gap: 10px;
}

.legal {
  font-size: 1rem;
  font-weight: var(--weight-regular);
}

.legal a {
  margin-right: 40px;
  text-decoration: none;
  color: #616161;
}

.legal a:hover {
  color: var(--secondary-blue);
}

.bottomBar p {
  color: #616161;
  font-size: 0.9rem;
}

/* ===== TABLET (min-width: 1200px) ===== */
@media only screen and (min-width: 1200px) {
  .innerHandler {
    padding-top: 100px;
    background: url("https://dmwebsoft.com/wp-content/uploads/2023/09/Union.png") no-repeat top center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column:nth-child(1) {
    border-left: none;
  }
}

/* ===== TABLET (max-width: 992px) ===== */
@media only screen and (min-width: 768px) and (max-width: 992px) {

  .footerWrapper {
    min-height: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 30px 0;
    align-items: stretch;
    text-align: left;
  }

  .column {
    padding: 0 16px;
    border-left: 1px solid #DFDFDF;
    min-height: auto;
    margin: 0 16px;
  }

  .column:nth-child(1),
  .column:nth-child(4) {
    border-left: none;
  }

  .unionImg {
    top: 0;
    margin-top: 0;
    padding-top: 40px;
    background-position: bottom center;
    background-size: cover;
  }

  .logo {
    height: 80px;
  }
}

/* ===== MOBILE (max-width: 767px) ===== */
@media (max-width: 767px) {
  .footerContent {
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .innerHandler {
    padding-top: 100px;
    background: url("https://dmwebsoft.com/wp-content/uploads/2023/09/Union.png") no-repeat top center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .unionImg {
    width: 100%;
    padding: 40px;
  }

  .topSection {
    margin-bottom: 30px;
  }

  .logo {
    height: 60px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 1fr; */
    gap: 30px 0;
    align-items: stretch;
    text-align: center;
  }

  .column {
    padding: 0 16px;
    border-left: 1px solid #DFDFDF;
    border-bottom: none;
    width: auto;
    min-height: auto;
    margin-bottom: 0;
  }

  .column:nth-child(1n) {
    border-left: none;
    padding-left: 100px;
  }

  .column:nth-child(2n) {
    border-left: 1px solid #DFDFDF;
    padding-left: 100px;
  }

  .bottomBar {
    flex-direction: column;
    text-align: center;
    padding: 20px 16px;
    gap: 12px;
    margin-top: 30px;

  }

  .legal a {
    margin-right: 16px;
    font-size: 0.9rem;
  }
}