.footerWrapper {
  position: relative;
  background: #ffffff;
  width: 100%;
  height: 630px;
  display: flex;
  justify-content: center;
  color: #001C3F;
}

.footerContent {
  width: 100%;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

.unionImg {
  position: relative;
  top: -80px;
  margin-top: -153.4px;
  padding-top: 97px;
  padding-bottom: 0;
  width: 100%;
  background: url("https://dmwebsoft.com/wp-content/uploads/2023/09/Union.png") no-repeat top center;
}

.topSection {
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-bottom: 30px;
  height: 120px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
}

.social {
  width: 48px;
  height: 48px;
  border: 3.5px solid #00a8ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00a8ff;
  font-size: 1.3rem;
  transition: 0.3s;
}

.social:hover {
  background: #00a8ff;
  color: #fff;
}

.socialText {
  margin-top: 20px;
  color: #001C3F;
  font-size: 1.3rem;
}

/* GRID */
.grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.column {
  padding: 0 32px;
  border-right: 1px solid #eee;
  height: 330px;
}

.column:last-child {
  border-right: none;
}

.column h5 {
  font-size: 1.3rem;
  margin-bottom: 22px;
  color: #001a3d;
  font-weight: 500;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  color: #001C3F;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 400;
}

.column li:hover {
  color: #00a8ff;
}

/* BOTTOM */
.bottomBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 28px 0;
  font-size: 1rem;
  background-color: #FAFAFA;
}

.legal {
  font-size: 1rem;
  font-weight: 400;
}

.legal a {
  margin-right: 40px;
  text-decoration: none;
  color: #616161;
}

.legal a:hover {
  color: #00a8ff;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}