* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: max-content;
    color: var(--primary-blue);
    width: 100%;
}

.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 257px;
    width: 100%;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.10);
}

.styleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px;
}

.statistics h5 {
    font-size: 42px;
    font-weight: var(--weight-semibold);
    margin-bottom: 0;
}

.statistics p {
    font-size: 20px;
    font-weight: var(--weight-medium);
    margin-bottom: 0;
}

.stats {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.stats:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    border-right: 1px solid #F3F3F3;
}

/* ===== Mid-size desktops ===== */
@media (min-width: 993px) and (max-width: 1200px) {
    .styleContainer {
        padding: 40px;
    }

    .statistics h5 {
        font-size: 36px;
    }

    .statistics p {
        font-size: 17px;
    }
}

/* ===== TABLET (max-width: 992px) ===== */
@media (max-width: 992px) {
    .statistics {
        height: 180px;
    }

    .stats {
        flex: 1;
        text-align: center;
    }

    .styleContainer {
        padding: 30px 10px;
    }

    .statistics h5 {
        font-size: 32px;
    }

    .statistics p {
        font-size: 14px;
        text-align: center;
    }

    .container {
        height: auto;
        margin: 40px 0;
    }
}

/* ===== MOBILE (max-width: 767px) ===== */
@media (max-width: 767px) {
    .container {
        height: auto;
    }

    .statistics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 10px;
        /* Space out the grid items vertically and horizontally */
        height: auto;
        padding: 40px 20px;
    }

    .stats {
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        margin: 0;
    }

    .stats::after {
        display: none;
    }

    /* Remove right border for 2nd and 4th item */
    .stats:nth-child(2n) {
        border-right: none;
    }

    /* Remove bottom border for 3rd and 4th item */
    .stats:nth-child(n+3) {
        border-bottom: none;
    }


    .statistics h5 {
        font-size: 2.3rem;
    }

    .statistics p {
        font-size: 1rem;
        text-align: center;
    }
}